{{> head  }}

{{> navbarP}}




<div class="row">

    <div class="col-8">
        <h1>Paisaje paradisiaco</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, non! Deserunt aspernatur saepe aperiam velit omnis repellat dignissimos, quas ab obcaecati cumque quae non illo expedita officia in, laborum ea?</p>

    </div>


    <div class="col-4" p4>
        <img src="assets/img/paisajes.png" alt="paisaje" class="img-thumbnail">

    </div>


</div>




{{> footerP}}